@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .article:hover img {
    filter: brightness(40%);
    position: relative;
  }
  .article:before {
    display: none;
  }
  .article:hover:before {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: block;
    content: "";
    top: 0;
    left: 0;
    background: hsla(0, 0%, 0%, 0.5);
  }
}
