@media (max-width: 1030px) {
  .logo {
    margin-right: 4%;
  }
  .carousel .heading nav {
    width: 100%;
  }
  section.carousel .heading-content .title h1 {
    font-size: 3em;
  }
  section.carousel .heading-content .title h2 {
    font-size: 2em;
  }
  section.carousel .heading-content .arrow-back,
  section.carousel .heading-content .arrow-forward {
    display: none;
  }
  section.carousel .heading-content .title button {
    width: 160px;
    height: 50px;
  }
  .carousel .heading nav li {
    margin-right: 13%;
    margin-bottom: 1%;
  }
  .carousel .heading nav .menu-list {
    text-align: center;
  }
}
@media (max-width: 811px) {
  .carousel .heading .logo span {
    font-size: 2em;
  }
  section.carousel .heading-content .title h1 {
    font-size: 2.5em;
  }
  section.carousel .heading-content .title h2 {
    font-size: 1.5em;
  }
  section.carousel .heading-content .title button {
    width: 155px;
    height: 45px;
    font-size: 0.85em;
  }
  .carousel .heading nav li {
    margin-right: 11%;
  }
  section.carousel .heading-content .title span {
    width: 487px;
  }
  section.carousel .heading-content .pagination input[type="radio"] + label {
    width: 9px;
    height: 10px;
  }
  section.carousel .heading-content .pagination input[type="radio"]:checked + label {
    background-size: contain;
    width: 13px;
    height: 14px;
    background-repeat: no-repeat;
  }
  section.service {
    margin: 10% auto;
  }
}
@media (max-width: 786px) {
  .realization-ideas .img-example .img-1,
  .realization-ideas .img-example .img-3 {
    display: none;
  }
  .realization-ideas .img-example {
    align-items: center;
  }
  .realization-ideas .img-example .active {
    max-width: 770px;
    width: 100%;
  }
}
@media (max-width: 728px) {
  .carousel .heading nav li {
    margin-right: 10%;
    margin-bottom: 1.5%;
  }
}
@media (max-width: 690px) {
  .carousel .heading .logo span {
    font-size: 1.8em;
  }
  .carousel .heading nav li {
    margin-right: 9%;
  }
  section.carousel .heading-content .title h2 {
    font-size: 1.4em;
  }
  section.carousel .heading-content .title h2 {
    font-size: 1.5em;
  }
  section.carousel .heading-content .title span {
    font-size: 0.8em;
  }
  section.carousel .heading-content .title button {
    width: 149px;
    height: 45px;
    font-size: 0.75em;
  }
  .carousel .heading nav li a {
    font-size: 0.8em;
  }
  .realization-ideas h3 {
    font-size: 1.75em;
  }
  .realization-ideas span {
    font-size: 0.85em;
  }
}
@media (max-width: 620px) {
  .carousel .heading nav li {
    margin-right: 8%;
  }
  .carousel .heading nav li a {
    font-size: 0.75em;
  }
  .carousel .heading .logo span {
    font-size: 1.5em;
  }
  section.carousel > section.heading > div > a > img {
    width: 60px;
    height: 50px;
  }
  .carousel .heading nav .cart {
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 22px;
  }
  .carousel .heading nav .search {
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
  }
  section.carousel .heading-content .title h2 {
    font-size: 1.4em;
  }
  section.carousel .heading-content .title h1 {
    font-size: 2em;
  }
  section.carousel .heading-content .title span {
    font-size: 0.7em;
  }
  section.carousel .heading-content .pagination input[type="radio"] + label {
    width: 8px;
    height: 8px;
  }
  section.carousel .heading-content .pagination input[type="radio"]:checked + label {
    width: 11px;
    height: 12px;
  }
  .realization-ideas h3 {
    font-size: 1.7em;
  }
  .realization-ideas span {
    font-size: 0.8em;
  }
}
