@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/Montserrat/Montserrat-Light.woff2) format('woff2'), url(../fonts/Montserrat/Montserrat-Light.woff) format('woff'), url(../fonts/Montserrat/Montserrat-Light.ttf) format('ttf');
}
@font-face {
  font-family: Montserrat-ExtraLight;
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.woff2) format('woff2'), url(../fonts/Montserrat/Montserrat-ExtraLight.woff) format('woff'), url(../fonts/Montserrat/Montserrat-ExtraLight.ttf) format('ttf');
}
@font-face {
  font-family: Raleway-Regular;
  src: url(../fonts/Raleway/Raleway-Regular.woff2) format('woff2'), url(../fonts/Raleway/Raleway-Regular.woff) format('woff'), url(../fonts/Raleway/Raleway-Regular.ttf) format('ttf');
}
@font-face {
  font-family: Raleway-Medium;
  src: url(../fonts/Raleway/Raleway-Medium.woff2) format('woff2'), url(../fonts/Raleway/Raleway-Medium.woff) format('woff'), url(../fonts/Raleway/Raleway-Medium.ttf) format('ttf');
}
@font-face {
  font-family: Raleway-SemiBold;
  src: url(../fonts/Raleway/Raleway-SemiBold.woff2) format('woff2'), url(../fonts/Raleway/Raleway-SemiBold.woff) format('woff'), url(../fonts/Raleway/Raleway-SemiBold.ttf) format('ttf');
}
@font-face {
  font-family: Raleway-ExtraBold;
  src: url(../fonts/Raleway/Raleway-ExtraBold.woff2) format('woff2'), url(../fonts/Raleway/Raleway-ExtraBold.woff) format('woff'), url(../fonts/Raleway/Raleway-ExtraBold.ttf) format('ttf');
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto/Roboto-Regular.woff2) format('woff2'), url(../fonts/Roboto/Roboto-Regular.woff) format('woff'), url(../fonts/Roboto/Roboto-Regular.ttf) format('ttf');
}
section.carousel {
  width: 100%;
  max-width: 1920px;
  max-height: 1024px;
  background-image: url(../img/slider-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}
section.carousel:before {
  content: "";
  width: 100%;
  max-width: 1920px;
  height: 100%;
  max-height: 1024px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.7);
}
.carousel .heading {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto 14.5%;
  padding-top: 40px;
  max-width: 1171px;
  width: 100%;
}
.carousel .heading .logo a {
  display: flex;
  align-items: center;
  margin-left: 1%;
  width: 181px;
}
.carousel .heading .logo .logo-svg {
  fill: #fff;
}
.carousel .heading .logo .logo:hover .logo-svg {
  fill: #998675;
}
.carousel .heading .logo .logo:active .logo-svg {
  fill: #fff;
}
.carousel .heading .logo span {
  color: #fff;
  font-family: 'Raleway-Regular', 'Arial', sans-serif;
  text-transform: capitalize;
  font-size: 2.125em;
  font-weight: 400;
  letter-spacing: -1.36px;
}
.carousel .heading .logo .logo:hover span {
  color: #998675;
}
.carousel .heading .logo .logo:active span {
  color: #fff;
}
.carousel .heading .nav-desctop {
  display: flex;
  align-items: center;
  margin-right: 1%;
}
.carousel .heading .nav-desctop .menu-list {
  width: 100%;
}
.carousel .heading .nav-desctop li {
  display: inline-block;
  margin-right: 30px;
}
.carousel .heading .nav-desctop li a {
  color: #fff;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  -webkit-transition: all 0.08s linear;
}
.carousel .heading .nav-desctop li a:hover {
  color: #c7b299;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.carousel .heading .nav-desctop li a:active {
  color: #fff;
}
.carousel .heading .nav-desctop .cart {
  display: block;
  width: 18px;
  height: 24px;
  background-image: url(../img/icon-cart.png);
  margin-right: 28px;
  flex: none;
}
.carousel .heading .nav-desctop input[type="search"] {
  width: 25px;
  height: 25px;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  color: #fff;
  font-size: 0.875em;
  font-weight: 300;
  outline: none;
  background-image: url(../img/icon-search.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  padding: 2px 24px 2px 4px;
  cursor: pointer;
}
.carousel .heading .nav-desctop input[type="search"]:focus {
  width: 200px;
  transition: width 1s ease-out;
  background-position: right;
  border: 1px solid #8c8c8c;
}
.carousel .heading .nav-desctop input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.carousel .heading .nav-desctop input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.carousel .heading .nav-desctop input::-webkit-search-decoration,
.carousel .heading .nav-desctop input::-webkit-search-cancel-button,
.carousel .heading .nav-desctop input::-webkit-search-results-button,
.carousel .heading .nav-desctop input::-webkit-search-results-decoration {
  display: none;
}
.carousel .heading .nav-desctop input::-webkit-search-decoration,
.carousel .heading .nav-desctop input::-webkit-search-cancel-button,
.carousel .heading .nav-desctop input::-webkit-search-results-button,
.carousel .heading .nav-desctop input::-webkit-search-results-decoration {
  display: none;
}
.carousel .heading .menu-block-mobile {
  display: none;
}
section.carousel .heading-content {
  position: relative;
  display: flex;
  flex-direction: column;
}
section.carousel .heading-content .title {
  margin: 0 auto;
}
section.carousel .heading-content .title h2 {
  text-align: center;
  color: #fff;
  font-family: 'Raleway-Medium', 'Arial', sans-serif;
  font-size: 2.25em;
  font-weight: 500;
  margin-bottom: 14px;
}
section.carousel .heading-content .title h1 {
  text-align: center;
  color: #fff;
  font-family: 'Raleway-ExtraBold', 'Arial', sans-serif;
  font-size: 3.25em;
  font-weight: 800;
  margin-bottom: 19px;
}
section.carousel .heading-content .title span {
  text-align: center;
  width: 574px;
  display: block;
  color: #fff;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  margin: 0 auto 52px;
}
section.carousel .heading-content .title button {
  display: block;
  color: #fff;
  font-family: 'Raleway-ExtraBold', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
  width: 170px;
  height: 53px;
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  -webkit-transition: all 0.05s linear;
}
section.carousel .heading-content .title button:hover {
  background-color: #211b19;
  color: #998675;
  box-shadow: inset 0 -3px 0 #1d1816;
}
section.carousel .heading-content .title button:active {
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: #fff;
}
section.carousel .heading-content .arrow-back {
  position: absolute;
  top: 125px;
  left: 150px;
  width: 40px;
  height: 73px;
  cursor: pointer;
  display: block;
  background: url(../img/arrow-back.png);
  border: none;
  opacity: 0.5;
  -webkit-transition: all 0.15s linear;
}
section.carousel .heading-content .arrow-back:hover {
  opacity: 0.7;
}
section.carousel .heading-content .arrow-back:active {
  opacity: 0.5;
}
section.carousel .heading-content .arrow-forward {
  position: absolute;
  top: 125px;
  right: 150px;
  width: 40px;
  height: 73px;
  cursor: pointer;
  display: block;
  background: url(../img/arrow-forward.png);
  border: none;
  opacity: 0.5;
  -webkit-transition: all 0.15s linear;
}
section.carousel .heading-content .arrow-forward:hover {
  opacity: 0.7;
}
section.carousel .heading-content .arrow-forward:active {
  opacity: 0.5;
}
section.carousel .heading-content .pagination {
  border: none;
  margin: 16% auto 1%;
  text-align: center;
}
section.carousel .heading-content .pagination input[type="radio"] {
  display: none;
}
section.carousel .heading-content .pagination input[type="radio"] + label {
  margin-right: 10px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  display: inline-block;
  padding: 0 0 0 0;
  cursor: pointer;
}
section.carousel .heading-content .pagination input[type="radio"]:checked + label {
  background-color: transparent;
  background-image: url(../img/circle-active.png);
  width: 15px;
  height: 15px;
  margin-left: -4px;
  margin-bottom: -2px;
  opacity: 1;
}
section.service {
  max-width: 1171px;
  width: 100%;
  margin: 5% auto;
}
section.service ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
section.service .block {
  display: flex;
  flex-direction: column;
  width: 282px;
  text-align: center;
  margin-bottom: 15px;
}
section.service .block .design {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-image: url(../img/icon-service-1.png);
}
section.service .block .development {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-image: url(../img/icon-service-2.png);
}
section.service .block .settings {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-image: url(../img/icon-service-3.png);
}
section.service .block .marketing {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-image: url(../img/icon-service-4.png);
}
section.service .block .icon {
  margin-bottom: 29px;
}
section.service .block .block-name {
  color: #555;
  font-family: 'Raleway-SemiBold', 'Arial', sans-serif;
  font-size: 1.375em;
  font-weight: 600;
  margin-bottom: 19px;
}
section.service .block .text {
  color: #8c8c8c;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 30px;
}
section.service .block .border {
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 0 auto;
}
section.service .block:hover .design {
  background-image: url(../img/icon-service-1-hover.png);
}
section.service .block:hover .development {
  background-image: url(../img/icon-service-2-hover.png);
}
section.service .block:hover .settings {
  background-image: url(../img/icon-service-3-hover.png);
}
section.service .block:hover .marketing {
  background-image: url(../img/icon-service-4-hover.png);
}
section.service .block:hover .block-name {
  color: #c7b299;
}
section.service .block:hover .border {
  width: 70px;
  height: 3px;
  background-color: #c7b299;
}
.realization-ideas {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #fbfaf8;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.realization-ideas h3 {
  text-align: center;
  color: #555;
  font-family: 'Raleway-SemiBold', 'Arial', sans-serif;
  font-size: 1.875em;
  font-weight: 600;
  margin-bottom: 24px;
  margin-top: 83px;
}
.realization-ideas span {
  color: #8c8c8c;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  max-width: 780px;
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  line-height: 28px;
  margin: 0 auto 40px;
}
.realization-ideas .img-example {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}
.realization-ideas .img-example .img-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.realization-ideas .img-example .img-2 {
  position: relative;
  z-index: 2;
}
.realization-ideas .img-example .img-3 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.realization-ideas .img-example img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wp-theme {
  max-width: 1920px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.wp-theme .content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1171px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.wp-theme .text h3 {
  color: #fff;
  font-family: 'Raleway-Regular', 'Arial', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
  margin-bottom: 8px;
}
.wp-theme .text .waxom-txt {
  color: #c7b299;
}
.wp-theme .text .dont-forget-txt {
  color: #615855;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 1.125em;
  font-weight: 300;
}
.wp-theme .purchase {
  display: block;
  color: #fff;
  font-family: 'Raleway-ExtraBold', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
  width: 170px;
  height: 53px;
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.05s linear;
}
.wp-theme .purchase:hover {
  background-color: #211b19;
  color: #998675;
  box-shadow: inset 0 -3px 0 #1d1816;
}
.wp-theme .purchase:active {
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: #fff;
}
.latest-projects {
  display: flex;
  flex-direction: column;
  margin: 80px 0;
}
.latest-projects .heading {
  margin: 0 auto 24px;
  color: #555;
  font-family: 'Raleway-SemiBold', 'Arial', sans-serif;
  font-size: 1.875em;
  font-weight: 400;
  text-align: center;
}
.latest-projects .description {
  margin: 0 auto 40px;
  max-width: 769px;
  width: 100%;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  color: #8c8c8c;
  font-size: 1em;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}
.latest-projects .tabs {
  display: flex;
  justify-content: space-between;
  max-width: 603px;
  width: 100%;
  margin: 0 auto 40px;
}
.latest-projects .tabs .btn {
  height: 32px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  color: #8c8c8c;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  cursor: pointer;
}
.latest-projects .tabs .btn:hover {
  background-color: #998675;
  color: #fff;
}
.latest-projects .tabs .btn:active {
  background-color: #fff;
}
.latest-projects .tabs .btn-all {
  width: 70px;
}
.latest-projects .tabs .btn-design,
.latest-projects .tabs .btn-app,
.latest-projects .tabs .btn-illustration {
  width: 120px;
}
.latest-projects .tabs .btn-photography {
  width: 135px;
}
.latest-projects .items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.latest-projects .items-container .article {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 330px;
  background-color: #fbfaf8;
  margin: 15px;
  cursor: pointer;
  position: relative;
}
.latest-projects .items-container .article .article-heading {
  color: #c7b299;
  font-family: 'Raleway-Medium', 'Arial', sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  margin: 30px 0 5px 30px;
  position: relative;
}
.latest-projects .items-container .article .topic {
  color: #d1d1d1;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 20px;
  margin: 0 0 27px 30px;
}
.latest-projects .items-container .article .article-heading:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 52px;
  left: -15px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
}
.latest-projects .items-container .article .share {
  display: none;
  width: 26px;
  height: 26px;
  background-image: url(../img/share-icon.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 106px;
  left: 144px;
  border: none;
  background-color: transparent;
}
.latest-projects .items-container .article .search {
  display: none;
  width: 26px;
  height: 26px;
  background-image: url(../img/lupa-icon.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 106px;
  right: 144px;
  border: none;
  background-color: transparent;
}
.latest-projects .items-container .article:hover {
  background-color: #362f2d;
}
.latest-projects .items-container .article:hover .img {
  filter: brightness(40%);
}
.latest-projects .items-container .article:hover .article-heading:before {
  border-bottom: 10px solid #362f2d;
}
.latest-projects .items-container .article:hover .article-heading {
  color: #fff;
}
.latest-projects .items-container .article:hover .topic {
  color: #c7b299;
}
.latest-projects .items-container .article:hover .share,
.latest-projects .items-container .article:hover .search {
  display: block;
  cursor: pointer;
  z-index: 33;
}
.latest-projects .items-container .article:hover .share:hover {
  display: block;
  width: 26px;
  height: 26px;
  background-image: url(../img/share-icon-hover.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 106px;
  left: 144px;
  border: none;
  background-color: transparent;
}
.latest-projects .items-container .article:hover .share:active {
  background-image: url(../img/share-icon.png);
}
.latest-projects .items-container .article:hover .search:hover {
  display: block;
  width: 26px;
  height: 26px;
  background-image: url(../img/lupa-icon-hover.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 106px;
  right: 144px;
  border: none;
  background-color: transparent;
}
.latest-projects .items-container .article:hover .search:active {
  background-image: url(../img/lupa-icon.png);
}
.latest-projects .load-more {
  display: block;
  color: #fff;
  font-family: 'Raleway-ExtraBold', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
  width: 170px;
  height: 53px;
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  border: none;
  cursor: pointer;
  margin: 10px auto 0;
  -webkit-transition: all 0.05s linear;
}
.latest-projects .load-more:hover {
  background-color: #211b19;
  color: #998675;
  box-shadow: inset 0 -3px 0 #1d1816;
}
.latest-projects .load-more:active {
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: #fff;
}
.video-presentation {
  max-width: 1920px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.video-presentation:before {
  content: "";
  width: 100%;
  max-width: 1920px;
  height: 100%;
  max-height: 1024px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.5);
  margin: 0 auto;
}
.video {
  max-width: 1920px;
  width: 100%;
  display: block;
}
.vid-content {
  max-width: 562px;
  width: 30%;
  max-height: 302px;
  height: 44%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 35%;
}
.vid-content .play-icon {
  cursor: pointer;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-position: center;
  background-image: url(../img/icon-play.png);
  background-repeat: no-repeat;
}
.vid-content .play-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.vid-content .play-icon:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.vid-content .heading {
  padding-top: 40px;
  margin: 0 auto 21px;
  color: #fff;
  font-family: 'Raleway-Medium', 'Arial', sans-serif;
  text-align: center;
  font-size: 1.875em;
  font-weight: 500;
}
.vid-content .description {
  color: #fff;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 23px;
}
.vid-content .time {
  color: #c7b299;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.mob-device {
  max-width: 1920px;
  width: 100%;
  background-color: #fbfaf8;
  margin: 0 auto;
  overflow: hidden;
}
.mob-device .mob-device_content {
  margin: 0 auto;
  padding-top: 80px;
  max-width: 1171px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mob-device .mob-device_description {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 663px;
  width: 100%;
}
.mob-device .mob-device_description h3 {
  color: #555;
  font-family: 'Raleway-SemiBold', 'Arial', sans-serif;
  font-size: 1.875em;
  font-weight: 400;
  margin-bottom: 40px;
}
.mob-device .mob-device_description span,
.mob-device .mob-device_description summary {
  color: #8c8c8c;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
}
.mob-device .mob-device_description .list-details {
  padding-left: 50px;
}
.mob-device .mob-device_description span {
  line-height: 28px;
  margin-bottom: 30px;
}
.mob-device .mob-device_description p {
  color: #8c8c8c;
  font-family: 'Raleway-Regular', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 28px;
}
.mob-device .mob-device_description details summary::-webkit-details-marker {
  color: transparent;
}
.mob-device .mob-device_description details summary {
  line-height: 32px;
  cursor: pointer;
  display: inline-flex;
  list-style-type: none;
  margin-top: 10px;
}
.mob-device .mob-device_description details summary:before {
  content: '';
  display: inline-block;
  height: 21px;
  width: 21px;
  background: url(../img/marker-details.png) no-repeat;
  list-style-position: outside;
  align-self: center;
  cursor: pointer;
}
.mob-device .mob-device_description details summary:hover {
  color: #404040;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
}
.mob-device .mob-device_description details summary:active:before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.trust {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.trust-content {
  max-width: 925px;
  width: 100%;
  margin: 0 auto;
  padding-top: 69px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.trust-block {
  display: flex;
  flex-direction: column;
  position: relative;
}
.trust-block:after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: calc(50% - 15px);
}
.trust-block .trust-numbers {
  text-align: center;
  color: #fff;
  font-family: 'Montserrat-ExtraLight', 'Arial', sans-serif;
  font-size: 3em;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 20px;
}
.trust-block .trust-txt {
  text-align: center;
  color: #c7b299;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.trust-block .trust-icon {
  margin: 0 auto;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}
.trust-block .trust-icon-clients {
  background: url(../img/icon-clients.png) no-repeat;
}
.trust-block .trust-icon-coffee {
  width: 48px;
  background: url(../img/icon-coffee.png) no-repeat;
}
.trust-block .trust-icon-post {
  background: url(../img/icon-post.png) no-repeat;
}
.trust-block .trust-icon-like {
  background: url(../img/likes-icon.png) no-repeat;
}
.trust-block .trust-icon-launched {
  width: 54px;
  background: url(../img/launched-icon.png) no-repeat;
}
.recent-posts {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.recent-posts .recent-post-title {
  text-align: center;
  margin: 82px auto 30px;
  color: #555;
  font-family: 'Raleway-SemiBold', 'Arial', sans-serif;
  font-size: 1.875em;
  font-weight: 400;
}
.recent-posts .description-title {
  text-align: center;
  max-width: 769px;
  width: 100%;
  margin: 0 auto 40px;
  color: #8c8c8c;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 28px;
}
.recent-posts .buttons {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
.recent-posts .buttons .left,
.recent-posts .buttons .right {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.recent-posts .buttons .left {
  margin-right: 8px;
  background-image: url(../img/recent-button.png);
}
.recent-posts .buttons .left:hover {
  background-image: url(../img/recent-button-hover.png);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.recent-posts .buttons .left:active {
  background-image: url(../img/recent-button.png);
  transform: rotate(0deg);
}
.recent-posts .buttons .right {
  background-image: url(../img/recent-button.png);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.recent-posts .buttons .right:hover {
  background-image: url(../img/recent-button-hover.png);
  transform: rotate(0deg);
}
.recent-posts .buttons .right:active {
  background-image: url(../img/recent-button.png);
  transform: rotate(180deg);
}
.recent-items-container {
  max-width: 1171px;
  width: 100%;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.recent-items-container .recent-item {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 396px;
  border: 1px solid #f8f8f8;
  position: relative;
  margin-bottom: 10px;
}
.recent-items-container .recent-item:hover {
  background-color: #362f2d;
}
.recent-items-container .img {
  margin-bottom: 30px;
}
.recent-items-container .date {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
}
.recent-items-container .date .day {
  width: 50px;
  height: 35px;
  color: #fff;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 300;
  border-radius: 3px 3px 0 0;
  background-color: #363636;
  text-align: center;
}
.recent-items-container .date .time {
  color: #fff;
  font-family: 'Roboto-Regular', 'Arial', sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 20px;
  width: 50px;
  height: 25px;
  border-radius: 0 0 3px 3px;
  background-color: #252525;
  text-align: center;
}
.recent-items-container .article-heading {
  color: #555;
  font-family: 'Raleway-Regular', 'Arial', sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 19px;
  padding-left: 30px;
  z-index: 50;
}
.recent-items-container .topic {
  color: #8c8c8c;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 22px;
  padding-left: 30px;
  margin-bottom: 27px;
  z-index: 50;
}
.recent-items-container .read-more {
  padding-left: 30px;
  color: #c7b299;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 20px;
  position: relative;
  z-index: 50;
}
.recent-items-container .read-more:active {
  color: #fff;
}
.recent-items-container .read-more:after {
  content: url(../img/arrow-read-more.png);
  position: absolute;
  left: 117px;
}
.recent-item:hover .img {
  filter: brightness(40%);
}
.recent-item:hover .article-heading {
  color: #c7b299;
}
.recent-item:hover .topic {
  color: #fff;
}
.recent-item:hover .date {
  z-index: 99;
}
.recent-item:hover .day {
  background-color: #c7b299;
}
.recent-item:hover .time {
  background-color: #a48d72;
}
.partners {
  max-width: 1920px;
  width: 100%;
  max-height: 489px;
  height: 100%;
  margin: 0 auto;
  background-image: url(../img/bg-partners.png);
  position: relative;
  overflow: hidden;
}
.partners:before {
  content: "";
  width: 100%;
  max-width: 1920px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.7);
}
.partners-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1171px;
  width: 100%;
  padding-top: 140px;
  padding-bottom: 115px;
  position: relative;
}
.partners-content .logo-partner {
  padding-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
}
.additional-info {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #191919;
  overflow: hidden;
}
.additional-info_content {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1171px;
  width: 100%;
}
.additional-info_content article,
.additional-info_content div {
  margin-bottom: 20px;
}
.additional-info_content .about-site {
  max-width: 258px;
  width: 100%;
  margin-right: 30px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.additional-info_content .about-site .logo {
  display: flex;
  align-items: center;
  margin-left: 1%;
  margin-bottom: 30px;
  width: 181px;
}
.additional-info_content .about-site .logo .logo-svg {
  fill: #fff;
}
.additional-info_content .about-site .logo:hover .logo-svg {
  fill: #998675;
}
.additional-info_content .about-site .logo:active .logo-svg {
  fill: #fff;
}
.additional-info_content .about-site .logo span {
  color: #fff;
  font-family: 'Raleway-Regular', 'Arial', sans-serif;
  text-transform: capitalize;
  font-size: 2.125em;
  font-weight: 400;
  letter-spacing: -1.36px;
}
.additional-info_content .about-site .logo:hover span {
  color: #998675;
}
.additional-info_content .about-site .logo:active span {
  color: #fff;
}
.additional-info_content .about-site .description {
  max-width: 258px;
  color: #555;
  font-family: 'Montserrat-Light;', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 33px;
  padding-left: 5px;
  letter-spacing: 0.3px;
}
.additional-info_content .about-site .read-more {
  color: #d1d1d1;
  font-family: 'Montserrat-Light;', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 20px;
  position: relative;
}
.additional-info_content .about-site .read-more:hover {
  color: #998675;
}
.additional-info_content .about-site .read-more:active {
  color: #fff;
}
.additional-info_content .about-site .read-more:after {
  content: url(../img/arrow-read-more-white.png);
  position: absolute;
  left: 80px;
}
.additional-info_content .about-site .read-more:hover:after {
  content: url(../img/arrow-read-more.png);
}
.additional-info_content .recent-post {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  padding-top: 16px;
  margin-right: 30px;
}
.additional-info_content .recent-post .heading {
  color: #fff;
  font-family: 'Raleway-Regular;', 'Arial', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 25px;
}
.additional-info_content .recent-post .article {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  cursor: pointer;
}
.additional-info_content .recent-post .article .time {
  color: #363636;
  font-family: 'Montserrat-Light;', 'Arial', sans-serif;
  font-size: 0.75em;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.additional-info_content .recent-post .article .txt {
  color: #555;
  font-family: 'Montserrat-Light;', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.additional-info_content .recent-post .article:nth-child(2) {
  max-width: 250px;
}
.additional-info_content .recent-post .article:nth-child(3) {
  max-width: 251px;
}
.additional-info_content .recent-post .article:nth-child(4) {
  max-width: 259px;
}
.additional-info_content .recent-post .article:nth-child(3):before {
  content: '';
  width: 270px;
  border-top: 1px solid #252525;
  padding: 10px 0;
}
.additional-info_content .recent-post .article:nth-child(3):after {
  content: '';
  width: 270px;
  border-bottom: 1px solid #252525;
  padding: 10px 0;
}
.additional-info_content .recent-post .article:hover .time {
  color: #fff;
}
.additional-info_content .recent-post .article:hover .txt {
  color: #c7b299;
}
.additional-info_content .recent-post .article:active .time {
  color: #363636;
}
.additional-info_content .recent-post .article:active .txt {
  color: #555;
}
.additional-info_content .twitter {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  padding-top: 16px;
  padding-left: 10px;
}
.additional-info_content .twitter .heading {
  color: #fff;
  font-family: 'Raleway-Regular;', 'Arial', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 25px;
}
.additional-info_content .twitter .twitter-post {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  cursor: pointer;
  margin-right: 30px;
}
.additional-info_content .twitter .twitter-post .txt {
  color: #555;
  font-family: 'Montserrat-Light;', 'Arial', sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.additional-info_content .twitter .twitter-post .txt .link {
  color: #00bff3;
}
.additional-info_content .twitter .twitter-post .time {
  color: #363636;
  font-family: 'Montserrat-Light;', 'Arial', sans-serif;
  font-size: 0.75em;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.additional-info_content .twitter .twitter-post .hashtag {
  color: #00bff3;
}
.additional-info_content .twitter .twitter-post .link-short {
  color: #959595;
}
.additional-info_content .twitter-post:nth-child(3):before {
  content: '';
  width: 270px;
  border-top: 1px solid #252525;
  padding: 10px 0;
}
.additional-info_content .twitter-post:nth-child(3):after {
  content: '';
  width: 270px;
  border-bottom: 1px solid #252525;
  padding: 10px 0;
}
.additional-info_content .twitter-post:hover .time {
  color: #fff;
}
.additional-info_content .twitter-post:hover .txt {
  color: #c7b299;
}
.additional-info_content .twitter-post:active .time {
  color: #363636;
}
.additional-info_content .twitter-post:active .txt {
  color: #555;
}
.dribble {
  display: flex;
  flex-direction: column;
  max-width: 283px;
  width: 100%;
  padding-top: 16px;
}
.dribble .heading {
  color: #fff;
  font-family: 'Raleway-Regular;', 'Arial', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 25px;
}
.dribble .dribble-widgets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dribble .dribble-widgets a {
  display: block;
  margin: 0;
  padding: 0;
}
.dribble .dribble-widgets .widget {
  margin: 5px;
}
footer {
  max-width: 1920px;
  width: 100%;
  max-height: 111px;
  height: 100%;
  background-color: #111;
  margin: 0 auto;
}
.footer-content {
  margin: 0 auto;
  max-width: 1171px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer-content .left-content {
  padding: 40px 20px 40px 10px;
}
.footer-content .left-content .copyright {
  color: #555;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 0.813em;
  font-weight: 300;
  line-height: 20px;
}
.footer-content .left-content .copyright .waxom {
  color: #959595;
}
.footer-content .left-content .copyright .waxom:after {
  content: '|';
  height: 14px;
  color: #252525;
  margin-left: 5px;
  margin-right: 5px;
}
.footer-content .left-content a {
  color: #555;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 0.813em;
  font-weight: 300;
  line-height: 20px;
}
.footer-content .left-content a:hover {
  color: #c7b299;
}
.footer-content .left-content a:active {
  color: #555;
}
.footer-content .left-content .privacy:after {
  content: '|';
  height: 14px;
  color: #252525;
  margin-left: 5px;
  margin-right: 5px;
}
.footer-content .left-content .faq:after {
  content: '|';
  height: 14px;
  color: #252525;
  margin-left: 5px;
  margin-right: 5px;
}
.footer-content .right-content {
  padding: 40px 10px;
}
.footer-content .right-content .designed,
.footer-content .right-content .evanto-market {
  color: #555;
  font-family: 'Montserrat-Light', 'Arial', sans-serif;
  font-size: 0.813em;
  font-weight: 300;
  line-height: 20px;
}
.footer-content .right-content .designed:after {
  content: '|';
  height: 14px;
  color: #252525;
  margin-left: 5px;
  margin-right: 5px;
}
.footer-content .right-content a {
  color: #959595;
}
.footer-content .right-content a:hover {
  color: #c7b299;
}
.footer-content .right-content a:active {
  color: #959595;
}
@media (max-width: 1852.98px) {
  .vid-content .heading {
    padding-top: 30px;
  }
}
@media (max-width: 1779.98px) {
  .vid-content .heading {
    padding-top: 20px;
  }
}
@media (max-width: 1681.98px) {
  .vid-content .heading {
    padding-top: 15px;
  }
  .vid-content .heading {
    font-size: 1.75em;
  }
}
@media (max-width: 1653.98px) {
  .vid-content .heading {
    padding-top: 10px;
  }
  .vid-content .heading {
    font-size: 1.65em;
  }
  .vid-content .description {
    font-size: 0.875em;
  }
}
@media (max-width: 1599.98px) {
  .vid-content .heading {
    padding-top: 5px;
  }
  .vid-content .heading {
    font-size: 1.55em;
  }
  .vid-content .description {
    font-size: 0.85em;
  }
  .vid-content .time {
    font-size: 0.65em;
  }
}
@media (max-width: 1539.98px) {
  .vid-content .play-icon {
    width: 90px;
    height: 90px;
    background-image: url(../img/icon-play-mobile.png);
  }
  .vid-content .heading {
    font-size: 1.455em;
  }
  .vid-content .description {
    font-size: 0.75em;
  }
}
@media (max-width: 1489.98px) {
  .vid-content .heading {
    margin: 0 auto 15px;
  }
}
@media (max-width: 1450.98px) {
  .vid-content .description {
    margin-bottom: 10px;
  }
  .vid-content .description {
    line-height: 20px;
  }
}
@media (max-width: 1349.98px) {
  .vid-content .description {
    margin-bottom: 8px;
  }
}
@media (max-width: 1259.98px) {
  .vid-content .play-icon {
    width: 85px;
    height: 85px;
  }
  .vid-content .heading {
    font-size: 1.4em;
    margin: 0 auto 10px;
  }
  .vid-content .description {
    line-height: 15px;
  }
}
@media (max-width: 1219.98px) {
  .vid-content .play-icon {
    width: 76px;
    height: 76px;
  }
}
@media (max-width: 1184.98px) {
  .vid-content .play-icon {
    width: 76px;
    height: 76px;
  }
  .vid-content .heading {
    font-size: 1.3em;
  }
  .vid-content .description {
    margin-bottom: 5px;
  }
}
@media (max-width: 1149.98px) {
  .vid-content .play-icon {
    width: 71px;
  }
  .vid-content .heading {
    font-size: 1.285em;
  }
  .vid-content .time {
    font-size: 0.6em;
  }
}
@media (max-width: 1129.98px) {
  .vid-content .heading {
    font-size: 1.2em;
  }
  .vid-content .description {
    font-size: 0.71em;
  }
}
@media (max-width: 1100.98px) {
  .vid-content .play-icon {
    width: 65px;
  }
}
@media (max-width: 1079.98px) {
  .vid-content .description {
    display: none;
  }
  .vid-content .play-icon {
    width: 76px;
  }
  .vid-content .heading {
    font-size: 1.4em;
    margin: 10px auto 10px;
  }
  .vid-content .time {
    font-size: 0.65em;
  }
}
@media (max-width: 919.98px) {
  .vid-content .play-icon {
    width: 71px;
  }
}
@media (max-width: 879.98px) {
  .vid-content .play-icon {
    width: 67px;
  }
  .vid-content .heading {
    font-size: 1.35em;
    margin: 8px auto 8px;
  }
}
@media (max-width: 965.98px) {
  .vid-content {
    width: 33%;
  }
}
@media (max-width: 849.98px) {
  .vid-content .play-icon {
    width: 76px;
  }
  .vid-content .heading {
    font-size: 1.2em;
    margin: 6px auto;
  }
  .vid-content .time {
    display: none;
  }
}
@media (max-width: 755.98px) {
  .vid-content .play-icon {
    width: 76px;
  }
  .vid-content .heading {
    font-size: 1em;
  }
}
@media (max-width: 659.98px) {
  .vid-content .play-icon {
    width: 69px;
  }
}
@media (max-width: 1029.98px) {
  .logo {
    margin-right: 4%;
  }
  .carousel .heading nav {
    width: 100%;
  }
  section.carousel .heading-content .title h1 {
    font-size: 3em;
  }
  section.carousel .heading-content .title h2 {
    font-size: 2em;
  }
  section.carousel .heading-content .arrow-back,
  section.carousel .heading-content .arrow-forward {
    display: none;
  }
  section.carousel .heading-content .title button {
    width: 160px;
    height: 50px;
  }
  .carousel .heading nav li {
    margin-right: 13%;
    margin-bottom: 1%;
  }
  .carousel .heading nav .menu-list {
    text-align: center;
  }
}
@media (max-width: 964.98px) {
  .partners-content {
    padding-top: 130px;
    padding-bottom: 100px;
  }
}
@media (max-width: 936.98px) {
  .partners-content {
    padding-top: 40px;
    padding-bottom: 0;
  }
}
@media (max-width: 810.98px) {
  .carousel .heading .logo span {
    font-size: 2em;
  }
  section.carousel .heading-content .title h1 {
    font-size: 2.5em;
  }
  section.carousel .heading-content .title h2 {
    font-size: 1.5em;
  }
  section.carousel .heading-content .title button,
  .wp-theme .purchase {
    width: 155px;
    height: 45px;
    font-size: 0.85em;
  }
  .carousel .heading nav li {
    margin-right: 11%;
  }
  section.carousel .heading-content .title span {
    width: 487px;
  }
  section.carousel .heading-content .pagination input[type="radio"] + label {
    width: 9px;
    height: 10px;
  }
  section.carousel .heading-content .pagination input[type="radio"]:checked + label {
    background-size: contain;
    width: 13px;
    height: 14px;
    background-repeat: no-repeat;
  }
  section.service {
    margin: 10% auto;
  }
  .trust-block {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width: 785.98px) {
  .realization-ideas .img-example .img-1,
  .realization-ideas .img-example .img-3 {
    display: none;
  }
  .realization-ideas .img-example {
    align-items: center;
  }
  .realization-ideas .img-example .active {
    max-width: 770px;
    width: 100%;
  }
  .wp-theme .text h3 {
    font-size: 1.65em;
  }
  .wp-theme .text .dont-forget-txt {
    font-size: 1.1em;
  }
}
@media (max-width: 767.98px) {
  .footer-content .left-content {
    padding: 15px;
  }
  .footer-content .right-content {
    padding: 15px;
  }
}
@media (max-width: 727.98px) {
  .carousel .heading nav li {
    margin-right: 10%;
    margin-bottom: 1.5%;
  }
}
@media (max-width: 689.98px) {
  .carousel .heading .logo span {
    font-size: 1.8em;
  }
  .carousel .heading nav li {
    margin-right: 9%;
  }
  section.carousel .heading-content .title h2 {
    font-size: 1.4em;
  }
  section.carousel .heading-content .title h2 {
    font-size: 1.5em;
  }
  section.carousel .heading-content .title span {
    font-size: 0.8em;
  }
  section.carousel .heading-content .title button,
  .wp-theme .purchase {
    width: 149px;
    height: 45px;
    font-size: 0.75em;
  }
  .carousel .heading nav li a {
    font-size: 0.8em;
  }
  .realization-ideas h3 {
    font-size: 1.75em;
  }
  .realization-ideas span {
    font-size: 0.85em;
  }
  .wp-theme .text h3 {
    font-size: 1.5em;
    padding-right: 10px;
  }
  .wp-theme .text .dont-forget-txt {
    font-size: 0.875em;
  }
}
@media (max-width: 619.98px) {
  .carousel .heading nav li {
    margin-right: 8%;
  }
  .carousel .heading nav li a {
    font-size: 0.75em;
  }
  .carousel .heading .logo span {
    font-size: 1.5em;
  }
  section.carousel > section.heading > div > a > img {
    width: 60px;
    height: 50px;
  }
  .carousel .heading nav .cart {
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 22px;
  }
  .carousel .heading nav .search {
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
  }
  section.carousel .heading-content .title h2 {
    font-size: 1.4em;
  }
  section.carousel .heading-content .title h1 {
    font-size: 2em;
  }
  section.carousel .heading-content .title span {
    font-size: 0.7em;
  }
  section.carousel .heading-content .pagination input[type="radio"] + label {
    width: 8px;
    height: 8px;
  }
  section.carousel .heading-content .pagination input[type="radio"]:checked + label {
    width: 11px;
    height: 12px;
  }
  .realization-ideas h3 {
    font-size: 1.7em;
  }
  .realization-ideas span {
    font-size: 0.8em;
  }
  .wp-theme .text .dont-forget-txt {
    display: none;
  }
  .additional-info {
    display: none;
  }
}
@media (max-width: 599.98px) {
  .heading .logo {
    margin-right: 2%;
  }
  .carousel .heading .logo a {
    margin-left: 8%;
    width: 64px;
  }
  .carousel .heading .logo span,
  .carousel .heading .nav-desctop {
    display: none;
  }
  .carousel .heading .menu-block-mobile {
    display: flex;
  }
  .menu-btn-mobile {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    padding-right: 11px;
  }
  .menu-btn-mobile span,
  .menu-btn-mobile span:before,
  .menu-btn-mobile span:after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
  }
  .menu-btn-mobile:hover span,
  .menu-btn-mobile:hover span:before,
  .menu-btn-mobile:hover span:after {
    background-color: #998675;
  }
  .menu-btn-mobile:active span,
  .menu-btn-mobile:active span:before,
  .menu-btn-mobile:active span:after {
    background-color: #222;
  }
  .menu-btn-mobile span:before,
  .menu-btn-mobile span:after {
    content: '';
    display: block;
    transition: 0.2s;
  }
  .menu-btn-mobile span:before {
    transform: translateY(-5px);
  }
  .menu-btn-mobile span:after {
    transform: translateY(5px);
  }
  .menu-btn-mobile_active span:before {
    transform: rotate(-35deg);
    width: 10px;
    transform-origin: left bottom;
  }
  .menu-btn-mobile_active span:after {
    transform: rotate(35deg);
    width: 10px;
    transform-origin: left top;
  }
  .menu-block-mobile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-mobile a {
    text-decoration: none;
    color: #555;
    font-family: 'Montserrat-Light', 'Aeial', sans-serif;
    font-size: 0.565em;
    margin-top: 14px;
    text-transform: uppercase;
    display: inline-block;
    transition: 0.1s;
  }
  .nav-mobile a:after {
    content: '|';
    height: 14px;
    color: #555;
    margin-left: 2px;
  }
  .nav-mobile a:hover {
    color: #998675;
    transition: none;
  }
  .nav-mobile a:active {
    color: #555;
    transition: none;
  }
  .nav-mobile {
    transition: 0.2s;
    transform: scaleX(0) translateX(0%);
    transform-origin: right center;
    opacity: 0;
    visibility: hidden;
    height: 50px;
    line-height: 25px;
    background-color: #fff;
    padding-right: 15px;
    padding-left: 10px;
    margin-right: -25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .menu-nav-mobile_active {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
    visibility: visible;
  }
  .latest-projects .items-container .article-4,
  .latest-projects .items-container .article-5,
  .latest-projects .items-container .article-6 {
    display: none;
  }
  .vid-content .heading,
  .vid-content .description,
  .vid-content .time {
    display: none;
  }
  .vid-content .play-icon {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    background-image: url(../img/icon-play-mobile.png);
  }
  .mob-device_content img {
    display: none;
  }
  .mob-device .mob-device_content {
    padding: 50px 0;
  }
  .mob-device .mob-device_description {
    padding: 0 10px;
  }
  .mob-device .mob-device_description details summary {
    font-size: 0.875em;
  }
  .mob-device .mob-device_description details summary:before {
    height: 25px;
    width: 25px;
  }
  .trust {
    display: none;
  }
  .recent-posts .recent-post-title {
    margin: 50px auto 30px;
  }
  .recent-items-container .recent-item-hidden {
    display: none;
  }
  .recent-posts .buttons {
    padding-bottom: 50px;
  }
  .partners-content {
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 0;
  }
}
@media (max-width: 589.98px) {
  .menu-btn-mobile {
    height: 48px;
    width: 48px;
  }
  .nav-mobile a {
    font-size: 0.507em;
    text-transform: uppercase;
  }
  .nav-mobile {
    height: 48px;
    line-height: 25px;
    padding-right: 15px;
    padding-left: 10px;
    margin-right: -25px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .latest-projects .items-container article .img:before,
  .recent-item .img:before {
    display: none;
    position: relative;
  }
  .latest-projects .items-container article:hover .img:before,
  .recent-item:hover .img:before {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 33;
    display: block;
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  .mob-device .mob-device_description details summary::before {
    width: 30px;
    height: 23px;
  }
  .mob-device .mob-device_description .list-details {
    padding-bottom: 10px;
  }
}
@media all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
  section.video-presentation .vid-content {
    top: 199px;
    left: 657px;
  }
}
* {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  min-height: 1024px;
}
.main-container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}
