@import "variables.less";
@import "font-face.less";
@import "functions.less";
@import "section-carousel.less";
@import "section-service.less";
@import "realization-ideas.less";
@import "aside-wp.less";
@import "latest-projects.less";
@import "video-presentation.less";
@import "mob-device.less";
@import "media-queries.less";
@import "IE-styles.less";
@import "Opera-styles.less";
* {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  min-height: @height;
}
.main-container {
  margin: 0 auto;
  max-width: @width;
  width: 100%;
  //width: @width-content;
}




